Auction_Narubina-war/web/WEB-INF/wsdl/localhost_8080/LotWebService/LotWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lots.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lots.ws/" name="LotWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://lots.ws/" schemaLocation="http://localhost:8080/LotWebService/LotWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<portType name="LotWebService">
<operation name="count">
<input wsam:Action="http://lots.ws/LotWebService/countRequest" message="tns:count"/>
<output wsam:Action="http://lots.ws/LotWebService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://lots.ws/LotWebService/findRequest" message="tns:find"/>
<output wsam:Action="http://lots.ws/LotWebService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="remove">
<input wsam:Action="http://lots.ws/LotWebService/remove" message="tns:remove"/>
</operation>
<operation name="create">
<input wsam:Action="http://lots.ws/LotWebService/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://lots.ws/LotWebService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://lots.ws/LotWebService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://lots.ws/LotWebService/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://lots.ws/LotWebService/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://lots.ws/LotWebService/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
</portType>
<binding name="LotWebServicePortBinding" type="tns:LotWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LotWebService">
<port name="LotWebServicePort" binding="tns:LotWebServicePortBinding">
<soap:address location="http://localhost:8080/LotWebService/LotWebService"/>
</port>
</service>
</definitions>